<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

<body style="background-color: #3b3838; color: white; font-family: 'Cinzel Decorative', serif">
<div class="card m-4" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt={{image}}>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Rarity: {{rarity}}</li>
        <li class="list-group-item">Attack: {{attack}}</li>
        <li class="list-group-item">Defense: {{defense}}</li>
        <li class="list-group-item">Series: {{series}}</li>
        <li class="list-group-item">Market price: {{market_price}}</li>
    </ul>
    <div class="card-body">
        {{edit}}
        {{delete}}
    </div>
</div>

</body>