<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
    a{
        font-family: 'Cinzel Decorative', serif; !important;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={{first_href}}>{{first_item}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{second_href}}>{{second_item}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=/admin>Admin</a>
                </li>
            </ul>
            {{customComponent}}
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    //Hier is JavaScript gebruikt voor het live zoeken aangezien PHP pagina's naar de browser verstuurt en niet live kan aanpassen
    function filterCards() {
        var query = document.getElementById('searchInput').value.toLowerCase();

        var cards = document.getElementsByClassName('card');

        for (var i = 0; i < cards.length; i++) {
            var cardName = cards[i].querySelector('.card-title').textContent.toLowerCase();
            if (cardName.includes(query)) {
                cards[i].style.display = 'block';
                var recordDiv = cards[i].closest('.record');
                if (recordDiv) {
                    recordDiv.style.display = 'block';
                }
            } else {
                cards[i].style.display = 'none';
                var recordDiv = cards[i].closest('.record');
                if (recordDiv) {
                    recordDiv.style.display = 'none';
                }
            }
        }
    }

    document.getElementById('searchInput').addEventListener('input', filterCards);

</script>
</body>
