<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<body style="background-color: #3b3838">
<div class="card m-4" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{name}}</li>
        <li class="list-group-item">Email: {{email}}</li>
        <li class="list-group-item">Role: {{role}}</li>
    </ul>
    <div class="card-body">
        {{edit}}
        {{delete}}
    </div>
</div>
</body>